.container-fluid{
    width: 96% !important;
   
}
.content{
    margin-top: 20px;
}
.product{
    margin-top: 25px;  
}
.card{
    margin-top: 25px;
}
.Active{
    background-color: rgb(193, 193, 71);
}
